.bodyContainer1 {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; 
  max-width: 1017px; 
}

.bodyContainer2 {
  position: absolute;
  top: 500px; 
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; 
  max-width: 1017px; 
}


.title {
  font-size: 30pt;
  color: #38773e;
  margin-left: 5%; /* 왼쪽 여백 조정 */
}

.polygonIcon1,
.polygonIcon2 {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.polygonIcon1 {
  left: 0;
}

.polygonIcon2 {
  right: 0;
}

.groupContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; 
  max-width: 1017px; 
}

.groupAndArrowContainer {
  position: absolute;
  transform: translateY(-50%);
  top:250px;
  height: 209px;
  width: 90%; 
  max-width: 1017px; 
  display: flex;
  align-items: center;
  border: 10px solid;
}
