.bodyContainer {
  position: absolute;
  top: auto;
  bottom:auto;
  left: calc(50% - 508.5px);
}
.groupContainer {
  display: flex;
  align-items: center;
}
.title{
  font-size: 40pt;
  color: #38773e
}

