.footerChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #38773e;
  width: 1440px;
  height: 108px;
}
.kummate {
  position: absolute;
  top: 0px;
  left: 0px;
}
.copyright2024 {
  position: absolute;
  top: 49px;
  left: 12px;
  font-size: 10px;
}
.kummateParent {
  position: absolute;
  top: 23px;
  left: 73px;
  width: 182px;
  height: 61px;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 108px;
  text-align: left;
  font-size: 35px;
  color: #fff;
  font-family: Inter;
}

