/* Header.module.css */

.headerChild {
  position: absolute;
  top: 0px;
  left: calc(50% - 532.5px);
  border-bottom: 1px solid #8a8a8a;
  box-sizing: border-box;
  width: 1017px;
  height: 77px;
}
.div2 {
  position: absolute;
  top: 0px;
  left: 347px;
  cursor: pointer;
}
.div3 {
  position: absolute;
  top: 0px;
  left: 190px;
  cursor: pointer;
}
.div4 {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
.div1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 406px;
  height: 23px;
}
.div {
  position: absolute;
  top: 32px;
  left: 582px;
  width: 406px;
  height: 23px;
}
.kummate {
  position: absolute;
  top: 26px;
  left: 16px;
  font-size: 30px;
  display: inline-block;
  width: 186px;
  height: 26px;
}
.noticeIcon {
  position: absolute;
  top: 26px;
  left: 1032px;
  width: 33px;
  height: 33px;
}
.header {
  width: 100%;
  position: relative;
  height: 77px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: 'Noto Sans KR';
}

.div2:hover,
.div3:hover,
.div4:hover {
  text-decoration: underline;
}
