/* SignupStep1.module.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.header {
  margin-bottom: 20px;
}

.inputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.inputFieldWithButton {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.label {
  margin-bottom: 5px;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.button {
  padding: 8px 15px;
  margin-left: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.nextButton {
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
}
