.footerChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #38773e;
  width: 100%;
  height: 108px;
}
.kummate {
  position: absolute;
  top: 0px;
  left: 0px;
}
.copyright2024 {
  position: absolute;
  top: 49px;
  left: 12px;
  font-size: 10px;
}
.kummateParent {
  position: absolute;
  top: 23px;
  left: 73px;
  width: 182px;
  height: 61px;
}
.footer {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 108px;
  text-align: left;
  font-size: 35px;
  font-family: Inter;
  color: #fff;
  background-color: #38773e;
  z-index: 1000; 
}

.socialButtons {
  position: relative; 
  display: flex; 
  align-items: center; 
  width: calc(100% - 73px); 
  height: 100%; 
  justify-content: flex-end;
}

/* 페이지 내용이 푸터에 가려지지 않도록 패딩 추가 */
body {
  padding-bottom: 108px;
}

@media (max-width: 768px) {
  .footer {
    height: 90px; 
    font-size: 28px; 
  }
  .socialButtons {
    width: calc(100% - 50px); 
  }
  .copyright2024 {
    font-size: 9px; 
  }
}

@media (max-width: 480px) {
  .footer {
    height: 70px; 
    font-size: 20px;
  }
  .kummateParent {
    top: 15px;
    left: 50px; /* 위치 조정 */
  }
  .socialButtons {
    width: 100%; 
    justify-content: center; /* 버튼을 가운데 정렬 */
  }
  .copyright2024 {
    font-size: 8px; 
    top: 40px;
    left: 10px; /* 위치 조정 */
  }
}
