.footerChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #38773e;
  width: 100%;
  height: 108px;
}
.kummate {
  position: absolute;
  top: 0px;
  left: 0px;
}
.copyright2024 {
  position: absolute;
  top: 49px;
  left: 12px;
  font-size: 10px;
}
.kummateParent {
  position: absolute;
  top: 23px;
  left: 73px;
  width: 182px;
  height: 61px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%; 
  height: 108px;
  text-align: left;
  font-size: 35px;
  font-family: Inter;
  color: #fff;
}

.socialButtons {
  position: relative; 
  display: flex; 
  align-items: center; 
  width: calc(100% - 73px); /* 73px 만큼 왼쪽으로 이동 */
  height: 100%; 
  justify-content: flex-end;
}
